 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar, .navbar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.search-bar input,.search-bar select{
    height: 50px;
    width: 200px;
    border: none;
    padding-left: 10px;
    background-color: #EFEFEF;
    font-size: 16px;
    
    line-height: 16px;
    letter-spacing: 0.4px;
}

.navbar{
    background-color: #f4f8f7;
    box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.4);
}

.navbar button{
    background-color: red;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0;
}

.display-product{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.card{
    width: 18rem;
    height: 28rem;
    margin: 20px;
    box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 10px;
}

.titleSection{
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 20px;
    letter-spacing: .25px;
    font-weight: 600;
    line-height: 28px;
}

.categorySection{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    
}

.categorySection .price{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .25px;
    color: rgba(0,0,0,0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonSection{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.buttonSection button{
    background-color: #e8f0fc;
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    color: black;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    font-weight: 500;
    text-transform: uppercase;
}

.hero-section .heading{
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;    
}

.sign-up-page, .sign-in-page{
    width: 700px;
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.4);
    border-radius: 30px;
}

.sign-in-page{
    height: 600px;
    /* border: 2px solid red;     */
}

.sign-up-page-container, .sign-in-page-container{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}
.sign-up-page-container .button-container{
    width: 100%;
    height: 15%;
    display: flex;
}
.sign-up-page-container .input-feild{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.sign-up-page-container .input-feild input{
    width: 100%;
    height: 60%;
}
.error{
    width: 100%;
    height: 40%;
    color: red;
    display: flex;
    align-items: center;
    background-color: white;
    /* border: 2px solid red; */
}

.sign-in-page-container .button-container{
    width: 100%;
    height: 20%;
    display: flex;
    /* border: 2px solid green; */
}
.sign-in-page-container .input-feild{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}

.input-feild{
    background-color: #f4f8f7;
    /* border: 2px solid red; */
}

.input-feild input{
    width: 100%;
    height: 60%;
    border: none;
    background-color: #f4f8f7;
    font-size:x-large;   
    padding-left: 10px; 
}

.button-container{
    justify-content: space-around;
}

.button-container button{
    background-color: #196ae5;
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 600;
    text-transform: uppercase;    
    /* font-size:large;    */
    color: white;
}

a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size:large;   
}

.button-container .navigate-button{
    background-color: #f4f8f7;
    color: black;
}

#nameAlert, #emailAlert ,#passwordAlert{
    color: red;
}

.product-detail-container{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 800px;
    height: 50vh;
    width: 100vw;
    height: 90vh;
    /* border: 2px solid red; */
}

.cart-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.back-div{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 10px;
}
.back-div button{
    border: none;
    cursor: pointer;
    background-color: #196ae5;

    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0;

}
.product-details-div{
    width: 100%;
    height: 90%;
    display: flex;
    /* border: 2px solid red; */
}

.product-details-img{
    width: 30%;
    height: 100%;
    padding: 20px;
    /* border: 2px solid red; */
}

.product-alldetails{
    width: 70%;
    height: 100%;
    padding: 20px;
    /* border: 2px solid red; */
}

.section{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 20px;
    letter-spacing: .25px;
    font-weight: 600;
    /* border: 2px solid red; */
    
}

.sections{
    /* border: 2px solid red; */
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: .25px;
    font-weight: 600;
    
}

.sections div{
    margin-right: 20px;
}
.description{
    width: 100%;
    height: 55%;
    
    font-size: 10px;
    font-size: 14px;
    line-height: 16px;
    line-height: 21px;
    letter-spacing: 1.5px;
    letter-spacing: .25px;
    /* border: 2px solid red; */
}

.errorPageButton{
    background-color: #196ae5;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product-detail-container{
    height: 90%;
    width: 100%;
}

.cart-container{
    height: 90%;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.cart-items{
    height: 70%;
    width: 100%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-out-div{
    height: 20%;
    width: 100%;
    /* border: 2px solid red; */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.4);
}

.sub-total{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check-out-buttton{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-out-buttton button{
    width: 100%;
    height: 70%;
    background-color: black;
    border: none;
    color: white;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
}

@media only screen and (max-width: 730px) {
    .sign-up-page, .sign-in-page{
        width: 90vw;
        height: 100vh;  
    }
    .search-bar{
        height: 25%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .display-product{
        height: 65%;
    }
    .cart-container{
        width: 90%;        
    }
  }

  @media only screen and (max-width: 430px) {
    .navbar{
        padding-left: 10px;
        padding-right: 2px;
    }
  }

  @media only screen and (max-width: 350px) {
    .product-detail-container{
        padding-left: 10px;
        padding-right: 10px;
    }
  }